<!-- Logos Block
	================================================== -->
		
	<div class="section padding-top-bottom-small background-dark over-hide z-bigger-2">
		<div class="container">
			<div class="row">
				<div class="col-md-2">
					<a href="#">
						<img  src="img/logos/white1.png" class="img-120 mx-auto" alt="" />
					</a>
				</div>
				<div class="col-md-2 mt-4 mt-md-0">
					<a href="#">
						<img  src="img/logos/white2.png" class="img-120 mx-auto" alt="" />
					</a>
				</div>
				<div class="col-md-2 mt-4 mt-md-0">
					<a href="#">
						<img  src="img/logos/white5.png" class="img-120 mx-auto" alt="" />
					</a>
				</div>
				<div class="col-md-2 mt-4 mt-md-0">
					<a href="#">
						<img  src="img/logos/white6.png" class="img-120 mx-auto" alt="" />
					</a>
				</div>
				<div class="col-md-2 mt-4 mt-md-0">
					<a href="#">
						<img  src="img/logos/white7.png" class="img-120 mx-auto" alt="" />
					</a>
				</div>
				<div class="col-md-2 mt-4 mt-md-0">
					<a href="#">
						<img  src="img/logos/white11.png" class="img-120 mx-auto" alt="" />
					</a>
				</div>
			</div>
		</div>		
	</div>