<!-- Parallax Block
	================================================== -->
	
	<div class="section padding-top-bottom z-bigger-2">	
		<div class="parallax-1" style="background-image: url('img/parallax-9.jpg')"></div>
		<div class="grey-fade-over"></div>
		<div class="container z-bigger">
			<div class="row justify-content-center">
				<div class="col-md-8">	
					<div class="main-title on-dark text-center">
						<div class="main-subtitle-top mb-4">LATEST WORK</div>
						<h3>We Take Pride In Delivering Only The Best.</h3>
						<div class="main-subtitle-bottom mt-3">we do magic</div>	
					</div>	
				</div>
			</div>	
		</div>		
		<div class="container-fluid z-bigger">
			<div class="row">
				<div class="work-slider-wrap mb-4">
					<div id="owl-work" class="owl-carousel owl-theme on-dark">											 
						<div class="item">
							<a href="project-image.html">
								<div class="portfolio-box-1 dark rounded">	
									<img  src="img/portfolio/grid/1.jpg" alt="" />	
									<div class="portfolio-mask-2 rounded"></div>
									<h5 class="on-center text-center">primarily serve people</h5>
									<p class="on-center text-center">design, motion</p>
								</div>	
							</a>	
						</div>									 
						<div class="item">
							<a href="project-image.html">
								<div class="portfolio-box-1 dark rounded">	
									<img  src="img/portfolio/grid/2.jpg" alt="" />	
									<div class="portfolio-mask-2 rounded"></div>
									<h5 class="on-center text-center">primarily serve people</h5>
									<p class="on-center text-center">design, motion</p>
								</div>	
							</a>	
						</div>									 
						<div class="item">
							<a href="project-image.html">
								<div class="portfolio-box-1 dark rounded">	
									<img  src="img/portfolio/grid/3.jpg" alt="" />	
									<div class="portfolio-mask-2 rounded"></div>
									<h5 class="on-center text-center">primarily serve people</h5>
									<p class="on-center text-center">design, motion</p>
								</div>	
							</a>	
						</div>									 
						<div class="item">
							<a href="project-image.html">
								<div class="portfolio-box-1 dark rounded">	
									<img  src="img/portfolio/grid/4.jpg" alt="" />	
									<div class="portfolio-mask-2 rounded"></div>
									<h5 class="on-center text-center">primarily serve people</h5>
									<p class="on-center text-center">design, motion</p>
								</div>	
							</a>	
						</div>									 
						<div class="item">
							<a href="project-image.html">
								<div class="portfolio-box-1 dark rounded">	
									<img  src="img/portfolio/grid/5.jpg" alt="" />	
									<div class="portfolio-mask-2 rounded"></div>
									<h5 class="on-center text-center">primarily serve people</h5>
									<p class="on-center text-center">design, motion</p>
								</div>	
							</a>	
						</div>									 
						<div class="item">
							<a href="project-image.html">
								<div class="portfolio-box-1 dark rounded">	
									<img  src="img/portfolio/grid/6.jpg" alt="" />	
									<div class="portfolio-mask-2 rounded"></div>
									<h5 class="on-center text-center">primarily serve people</h5>
									<p class="on-center text-center">design, motion</p>
								</div>	
							</a>	
						</div>									 
						<div class="item">
							<a href="project-image.html">
								<div class="portfolio-box-1 dark rounded">	
									<img  src="img/portfolio/grid/7.jpg" alt="" />	
									<div class="portfolio-mask-2 rounded"></div>
									<h5 class="on-center text-center">primarily serve people</h5>
									<p class="on-center text-center">design, motion</p>
								</div>	
							</a>	
						</div>									 
						<div class="item">
							<a href="project-image.html">
								<div class="portfolio-box-1 dark rounded">	
									<img  src="img/portfolio/grid/8.jpg" alt="" />	
									<div class="portfolio-mask-2 rounded"></div>
									<h5 class="on-center text-center">primarily serve people</h5>
									<p class="on-center text-center">design, motion</p>
								</div>	
							</a>	
						</div>					
					</div>
				</div>
			</div>
		</div>
	</div>
