<!-- Testimonials & Facts Parallax Block
	================================================== -->
	
	<div class="section padding-top-bottom z-bigger-2">	
		<div class="parallax-3" style="background-image: url('img/parallax-11.jpg')"></div>
		<div class="grey-fade-over"></div>
		<div class="container z-bigger">
			<div class="row justify-content-center">
				<div class="col-md-11">	
					<div class="testimonials-1-slider-wrap">
						<div class="customNavigation">
							<a class="prev-testimonials-1"><i class="fa fa-angle-left"></i></a>
							<a class="next-testimonials-1"><i class="fa fa-angle-right"></i></a>
						</div>
						<div id="owl-testimonials-1" class="owl-carousel owl-theme">											 
							<div class="item">										 
								<div class="testimonials-box-2 text-center">
									<h5 class="mb-5 color-white">"Design must reflect the practical and aesthetic in business but above all... good design must primarily serve people."</h5>
									<h4 class="color-white">Thomas J. Watson</h4>
									<p class="mt-2">some magazine</p>		
								</div>	
							</div>											
							<div class="item">									 
								<div class="testimonials-box-2 text-center">
									<h5 class="mb-5 color-white">"Design must reflect the practical and aesthetic in business but above all... good design must primarily serve people."</h5>
									<h4 class="color-white">Thomas J. Watson</h4>
									<p class="mt-2">some magazine</p>			
								</div>
							</div>											
							<div class="item"> 										 
								<div class="testimonials-box-2 text-center">
									<h5 class="mb-5 color-white">"Design must reflect the practical and aesthetic in business but above all... good design must primarily serve people."</h5>
									<h4 class="color-white">Thomas J. Watson</h4>
									<p class="mt-2">some magazine</p>			
								</div>
							</div>												
							<div class="item"> 										 
								<div class="testimonials-box-2 text-center">
									<h5 class="mb-5 color-white">"Design must reflect the practical and aesthetic in business but above all... good design must primarily serve people."</h5>
									<h4 class="color-white">Thomas J. Watson</h4>
									<p class="mt-2">some magazine</p>			
								</div>	
							</div>												
							<div class="item"> 									 
								<div class="testimonials-box-2 text-center">
									<h5 class="mb-5 color-white">"Design must reflect the practical and aesthetic in business but above all... good design must primarily serve people."</h5>
									<h4 class="color-white">Thomas J. Watson</h4>
									<p class="mt-2">some magazine</p>			
								</div>		
							</div>					
						</div>
					</div>
				</div>
				<div class="col-md-12 padding-top-bottom-small">	
					<div class="separator-wrap">	
						<span class="separator"><span class="separator-line dashed opacity-40"></span></span>
					</div>
				</div>
				<div class="col-md-3">	
					<div class="counter-wrap dark">
						<p><span class="counter-numb small-2">8.819</span></p>
						<h6>lines of code</h6>
					</div>		
				</div>
				<div class="col-md-3 mt-4 mt-md-0">	
					<div class="counter-wrap dark">
						<p><span class="counter-numb small-2">4.768</span></p>
						<h6>projects finished</h6>
					</div>		
				</div>
				<div class="col-md-3 mt-4 mt-md-0">	
					<div class="counter-wrap dark">
						<p><span class="counter-numb small-2">7.307</span></p>
						<h6>coups of coffee</h6>
					</div>		
				</div>
				<div class="col-md-3 mt-4 mt-md-0">	
					<div class="counter-wrap dark">
						<p><span class="counter-numb small-2">5.921</span></p>
						<h6>working hours</h6>
					</div>		
				</div>
			</div>	
		</div>
	</div>