<!-- Team Block
	================================================== -->
	
	<div class="section background-black z-bigger">
		<div class="container">
			<div class="row transform-y-120 transform-on-mob">
				<div class="clear"></div>
				<div class="team-slider-wrap">
					<div id="owl-team-1" class="owl-carousel owl-theme on-dark">											 
						<div class="item">											 
							<div class="team-box-1 dark all-padding background-dark drop-shadow text-center image-over-box mt-5"> 
								<img src="img/t4.jpg" alt="" class="img-raised" />
								<h6 class="mb-1">Marco Kulis</h6>	
								<p class="mb-4">app & media</p>
								Design must reflect the practical in business but above all... good design must primarily serve people.
								<ul class="team-social mt-4">
									<li class="twitter">
										<a href="#">Tw</a>
									</li>
									<li class="google">
										<a href="#">G+</a>
									</li>
								</ul>	
							</div>	
						</div>											 
						<div class="item">											 
							<div class="team-box-1 dark all-padding background-dark drop-shadow text-center image-over-box mt-5">	
								<img  src="img/t1.jpg" alt="" class="img-raised" />
								<h6 class="mb-1">Anna Furius</h6>		
								<p class="mb-4">identity building</p>
								Design must reflect the practical in business but above all... good design must primarily serve people.
								<ul class="team-social mt-4">
									<li class="facebook">
										<a href="#">Fb</a>
									</li>
									<li class="google">
										<a href="#">G+</a>
									</li>
									<li class="vimeo">
										<a href="#">Vm</a>
									</li>
								</ul>		
							</div>	
						</div>											 
						<div class="item">											 
							<div class="team-box-1 dark all-padding background-dark drop-shadow text-center image-over-box mt-5">	
								<img  src="img/t2.jpg" alt="" class="img-raised" />
								<h6 class="mb-1">Alex Andrews</h6>	
								<p class="mb-4">design process</p>
								Design must reflect the practical in business but above all... good design must primarily serve people.	
								<ul class="team-social mt-4">
									<li class="twitter">
										<a href="#">Tw</a>
									</li>
									<li class="vimeo">
										<a href="#">Vm</a>
									</li>
								</ul>	
							</div>	
						</div>											 
						<div class="item">											 
							<div class="team-box-1 dark all-padding background-dark drop-shadow text-center image-over-box mt-5">
								<img  src="img/t3.jpg" alt="" class="img-raised" />	
								<h6 class="mb-1">Frank Furius</h6>		
								<p class="mb-4">web development</p>	
								Design must reflect the practical in business but above all... good design must primarily serve people.
								<ul class="team-social mt-4">
									<li class="twitter">
										<a href="#">Tw</a>
									</li>
									<li class="facebook">
										<a href="#">Fb</a>
									</li>
									<li class="google">
										<a href="#">G+</a>
									</li>
								</ul>
							</div>	
						</div>											 
						<div class="item">											 
							<div class="team-box-1 dark all-padding background-dark drop-shadow text-center image-over-box mt-5">	
								<img  src="img/t4.jpg" alt="" class="img-raised" />	
								<h6 class="mb-1">Marco Kulis</h6>	
								<p class="mb-4">app & media</p>	
								Design must reflect the practical in business but above all... good design must primarily serve people.
								<ul class="team-social mt-4">
									<li class="twitter">
										<a href="#">Tw</a>
									</li>
									<li class="vimeo">
										<a href="#">Vm</a>
									</li>
								</ul>	
							</div>	
						</div>											 
						<div class="item">											 
							<div class="team-box-1 dark all-padding background-dark drop-shadow text-center image-over-box mt-5">	
								<img  src="img/t1.jpg" alt="" class="img-raised" />
								<h6 class="mb-1">Anna Furius</h6>	
								<p class="mb-4">identity building</p>
								Design must reflect the practical in business but above all... good design must primarily serve people.
								<ul class="team-social mt-4">
									<li class="twitter">
										<a href="#">Tw</a>
									</li>
									<li class="facebook">
										<a href="#">Fb</a>
									</li>
									<li class="google">
										<a href="#">G+</a>
									</li>
									<li class="vimeo">
										<a href="#">Vm</a>
									</li>
								</ul>		
							</div>	
						</div>											 
						<div class="item">											 
							<div class="team-box-1 dark all-padding background-dark drop-shadow text-center image-over-box mt-5">	
								<img  src="img/t2.jpg" alt="" class="img-raised" />
								<h6 class="mb-1">Alex Andrews</h6>	
								<p class="mb-4">design process</p>	
								Design must reflect the practical in business but above all... good design must primarily serve people.
								<ul class="team-social mt-4">
									<li class="twitter">
										<a href="#">Tw</a>
									</li>
									<li class="facebook">
										<a href="#">Fb</a>
									</li>
									<li class="google">
										<a href="#">G+</a>
									</li>
								</ul>	
							</div>	
						</div>											 
						<div class="item">											 
							<div class="team-box-1 dark all-padding background-dark drop-shadow text-center image-over-box mt-5">	
								<img  src="img/t3.jpg" alt="" class="img-raised" />
								<h6 class="mb-1">Frank Furius</h6>		
								<p class="mb-4">web development</p>	
								Design must reflect the practical in business but above all... good design must primarily serve people.
								<ul class="team-social mt-4">
									<li class="facebook">
										<a href="#">Fb</a>
									</li>
									<li class="google">
										<a href="#">G+</a>
									</li>
									<li class="vimeo">
										<a href="#">Vm</a>
									</li>
								</ul>
							</div>	
						</div>											 
						<div class="item">											 
							<div class="team-box-1 dark all-padding background-dark drop-shadow text-center image-over-box mt-5">	
								<img  src="img/t4.jpg" alt="" class="img-raised" />
								<h6 class="mb-1">Marco Kulis</h6>	
								<p class="mb-4">app & media</p>	
								Design must reflect the practical in business but above all... good design must primarily serve people.
								<ul class="team-social mt-4">
									<li class="twitter">
										<a href="#">Tw</a>
									</li>
									<li class="google">
										<a href="#">G+</a>
									</li>
									<li class="vimeo">
										<a href="#">Vm</a>
									</li>
								</ul>			
							</div>	
						</div>					
					</div>
				</div>
			</div>	
		</div>		
	</div>