<!-- Subscribe Block
	================================================== -->
	
	<div class="section padding-top-bottom background-dark">
		<div class="container">	
			<div class="row justify-content-center">
				<div class="col-md-5 text-center">
					<h4 class="mb-5 color-white">Subscribe</h4>
					<div class="subscribe-box-1 dark">
						<input type="text" value="" placeholder="Email address" class="form-control" />
						<button class="btn btn-primary subscribe-1" type="submit" value="">
							<i class="fa fa-angle-right"></i>
						</button>
						<p class="mt-1"><small>* we promise that we won´t spam you, never!</small></p>
					</div>	
				</div>
			</div>
		</div>		
	</div>
