<!-- Hero Block
================================================== -->

<div class="section full-height-2 over-hide">
    <div class="parallax" style="background-image: url('https://franconne.com/images/zwembad/pano.jpg')"></div>
    <div class="grey-fade-over"></div>	
    <div class="hero-bottom-2-wrap z-bigger">
        <div class="container parallax-fade-top">
            <div class="row mb-5">
                <div class="col-md-12 mb-4">	
                    <h3 class="color-white text-center">Le Mas du Cigalon</h3>
                </div>	
                <div class="col-md-12 mb-5">
                    <div class="separator-wrap">	
                        <span class="separator"><span class="separator-line dashed"></span></span>
                    </div>	
                </div>	
            </div>		
        </div>
    </div>
</div>