<!-- Portfolio Block
	================================================== -->
	
	<div class="section padding-top background-white">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-8">	
					<div class="main-title text-center">
						<div class="main-subtitle-top mb-4">latest work</div>
						<h3>We take pride in delivering only the best.</h3>
						<div class="main-subtitle-bottom mt-3">we do magic</div>	
					</div>
				</div>
				<div class="clear"></div>
				<div class="col-md-12">
					<div class="grid-filter">
						<ul class="filter">
							<li><a href="#" class="current" data-filter="*" title="">all</a></li>
							<li><a href="#" data-filter=".branding" title="">branding</a></li>
							<li><a href="#" data-filter=".photo" title="">photo</a></li>
							<li><a href="#" data-filter=".motion" title="">motion</a></li>
						</ul>
					</div>
				</div>
			</div>	
		</div>		
		<div class="grid-wraper with-margin clearfix">			
			<div class="grid-box float-inline third with-margin branding">
				<a href="project-image.html">
					<div class="portfolio-box-1 rounded">	
						<img  src="img/portfolio/grid/1.jpg" alt="" />	
						<div class="portfolio-mask-1"></div>
						<h5>Project Name</h5>
						<p>we do magic</p>
					</div>	
				</a>
			</div>	
			<div class="grid-box float-inline third with-margin photo motion">
				<a href="project-image.html">
					<div class="portfolio-box-1 rounded">		
						<img  src="img/portfolio/grid/2.jpg" alt="" />
						<div class="portfolio-mask-1"></div>
						<h5>Project Name</h5>
						<p>we do magic</p>
					</div>	
				</a>	
			</div>	
			<div class="grid-box float-inline third with-margin branding">
				<a href="project-image.html">
					<div class="portfolio-box-1 rounded">	
						<img  src="img/portfolio/grid/3.jpg" alt="" />	
						<div class="portfolio-mask-1"></div>
						<h5>Project Name</h5>
						<p>we do magic</p>
					</div>	
				</a>	
			</div>	
			<div class="grid-box float-inline third with-margin photo motion">
				<a href="project-image.html">
					<div class="portfolio-box-1 rounded">	
						<img  src="img/portfolio/grid/4.jpg" alt="" />	
						<div class="portfolio-mask-1"></div>
						<h5>Project Name</h5>
						<p>we do magic</p>
					</div>	
				</a>	
			</div>	
			<div class="grid-box float-inline third with-margin motion">
				<a href="project-image.html">
					<div class="portfolio-box-1 rounded">	
						<img  src="img/portfolio/grid/5.jpg" alt="" />
						<div class="portfolio-mask-1"></div>
						<h5>Project Name</h5>
						<p>we do magic</p>
					</div>	
				</a>		
			</div>	
			<div class="grid-box float-inline third with-margin branding photo">
				<a href="project-image.html">
					<div class="portfolio-box-1 rounded">	
						<img  src="img/portfolio/grid/6.jpg" alt="" />	
						<div class="portfolio-mask-1"></div>
						<h5>Project Name</h5>
						<p>we do magic</p>
					</div>
				</a>	
			</div>
		</div>
	</div>