<!-- Blog Block
	================================================== -->
			
	<div class="section padding-top-bottom background-grey over-hide">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-8">	
					<div class="main-title text-center">
						<div class="main-subtitle-top mb-4">latest news</div>
						<h3>Add your creation to relevant collections.</h3>
						<div class="main-subtitle-bottom mt-3">you inspired me</div>	
					</div>
				</div>
				<div class="clear"></div>	
				<div class="blog-slider-wrap mb-4" data-scroll-reveal="enter bottom move 40px over 0.8s after 0.2s">
					<div class="customNavigation">
						<a class="prev-blog"><i class="fa fa-angle-left"></i></a>
						<a class="next-blog"><i class="fa fa-angle-right"></i></a>
					</div>
					<div id="owl-blog" class="owl-carousel owl-theme">											 
						<div class="item">								 
							<div class="blog-box-1 background-white drop-shadow">
								<a href="post.html"><h5>Don’t get lost.</h5></a>
								<p class="mt-3">Design must reflect the practical and aesthetic in business but above all... good design must primarily serve people.</p>
								<div class="separator-wrap pt-3">	
									<span class="separator"><span class="separator-line"></span></span>
								</div>
								<div class="author-wrap mt-5">	
									<img  src="img/t1.jpg" alt="" />
									<p> by <a href="#">Anna Furius</a></p>
								</div>
							</div>	
						</div>											
						<div class="item">						 
							<div class="blog-box-1 background-white drop-shadow">
								<a href="post.html"><h5>Moments from a life.</h5></a>
								<p class="mt-3">Design must reflect the practical and aesthetic in business but above all... good design must primarily serve people.</p>
								<div class="separator-wrap pt-3">	
									<span class="separator"><span class="separator-line"></span></span>
								</div>
								<div class="author-wrap mt-5">
									<img  src="img/t2.jpg" alt="" />
									<p> by <a href="#">Alex Andrews</a></p>
								</div>
							</div>	
						</div>											
						<div class="item"> 						 
							<div class="blog-box-1 background-white drop-shadow">
								<a href="post.html"><h5>Content together.</h5></a>
								<p class="mt-3">Design must reflect the practical and aesthetic in business but above all... good design must primarily serve people.</p>
								<div class="separator-wrap pt-3">	
									<span class="separator"><span class="separator-line"></span></span>
								</div>
								<div class="author-wrap mt-5">
									<img  src="img/t3.jpg" alt="" />
									<p> by <a href="#">Frank Furius</a></p>
								</div>
							</div>	
						</div>												
						<div class="item"> 						 
							<div class="blog-box-1 background-white drop-shadow">
								<a href="post.html"><h5>Modern webdesign.</h5></a>
								<p class="mt-3">Design must reflect the practical and aesthetic in business but above all... good design must primarily serve people.</p>
								<div class="separator-wrap pt-3">	
									<span class="separator"><span class="separator-line"></span></span>
								</div>
								<div class="author-wrap mt-5">
									<img  src="img/t4.jpg" alt="" />
									<p> by <a href="#">Marco Kulis</a></p>
								</div>
							</div>	
						</div>												
						<div class="item"> 						 
							<div class="blog-box-1 background-white drop-shadow">
								<a href="post.html"><h5>How you'll see it.</h5></a>
								<p class="mt-3">Design must reflect the practical and aesthetic in business but above all... good design must primarily serve people.</p>
								<div class="separator-wrap pt-3">	
									<span class="separator"><span class="separator-line"></span></span>
								</div>
								<div class="author-wrap mt-5">
									<img  src="img/t2.jpg" alt="" />
									<p> by <a href="#">Alex Andrews</a></p>
								</div>
							</div>	
						</div>					
					</div>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-4 mt-5 mg-auto" data-scroll-reveal="enter bottom move 40px over 0.8s after 0.2s">
					<a href="blog-grid.html" class="btn btn-primary btn-simple btn-round btn-long">visit our blog</a>
				</div>
			</div>		
		</div>		
	</div>