<!-- Call To Action Block
	================================================== -->
		
	<div class="section padding-top-bottom background-white over-hide">
		<div class="container">
			<div class="row">
				<div class="col-md-12">	
					<div class="call-box-2 text-center" data-scroll-reveal="enter bottom move 40px over 0.8s after 0.2s">
						<h2 class="mb-3">Are You Ready?</h2>
						<a href="contact-planner.html" class="btn-link btn-primary">let's work</a>						
					</div>		
				</div>
			</div>	
		</div>		
	</div>