<!-- Footer Light Block
	================================================== -->
	
	<div class="section padding-top over-hide footer-1">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<h6>Home concepts</h6>
					<ul class="list-style">
						<li><a href="digital-agency.html">Digital Agency</a></li>
						<li><a href="design-studio.html">Design Studio</a></li>
						<li><a href="app-landing.html">App Landing</a></li>
						<li><a href="personal-portfolio.html">Personal Portfolio</a></li>
						<li><a href="corporate.html">Home Corporate</a></li>
					</ul>
				</div>
				<div class="col-md-3 mt-4 mt-md-0">
					<h6>Picked Pages</h6>
					<ul class="list-style">
						<li><a href="portfolio-grid-3col.html">Portfolio Grid</a></li>
						<li><a href="portfolio-masonry-3col.html">Portfolio Masonry</a></li>
						<li><a href="blog-grid.html">Blog Grid</a></li>
						<li><a href="careers-listing.html">Careers Listing</a></li>
						<li><a href="contact-map.html">Contact Map</a></li>
					</ul>
				</div>
				<div class="col-md-3 mt-4 mt-md-0">
					<h6>Interesting</h6>
					<ul class="list-style">
						<li><a href="about-company.html">About</a></li>
						<li><a href="services.html">Services</a></li>
						<li><a href="contact-modern.html">Contact</a></li>
						<li><a href="shop-grid-sidebar.html">Shop</a></li>
						<li><a href="create-account.html">Create Account</a></li>
					</ul>
				</div>
				<div class="col-md-3 mt-4 mt-md-0">
					<h6>Subscribe</h6>
					<div class="subscribe-wrap">
						<input type="text" value="" placeholder="Email address" class="form-control" />
						<button class="btn btn-primary btn-icon subscribe-footer" type="submit" value="">
							<i class="fa fa-angle-right"></i>
						</button>
						<p class="mt-1"><small>* we promise that we won´t spam you!</small></p>
					</div>	
				</div>
			</div>
		</div>	
		<div class="container scd-foot padding-top-small padding-bottom-smaller">
			<div class="row">
				<div class="col-md-6">
					<p>© 2018 Funky. Powerd with <i class="fa fa-heart"></i> by <a href="https://themeforest.net/user/ig_design/portfolio?ref=IG_design" target="_blank">IG Design</a>!</p>
				</div>
				<div class="col-md-6">
					<ul class="footer-social">
						<li class="twitter">
							<a href="#">Tw</a>
						</li>
						<li class="facebook">
							<a href="#">Fb</a>
						</li>
						<li class="google">
							<a href="#">G+</a>
						</li>
						<li class="vimeo">
							<a href="#">Vm</a>
						</li>
					</ul>
				</div>
			</div>
		</div>	
	</div>
	

	<div class="scroll-to-top"><i class="fa fa-angle-up"></i></div>