
	<!-- Hero Block
	================================================== -->
	
	<div class="section full-height-2">
		<div class="parallax" style="background-image: url('img/parallax-hero-1.jpg')"></div>
		<div class="grey-fade-over"></div>
		<div class="hero-center-wrap z-bigger">
			<div class="container color-white hero-text parallax-fade-top">
				<div class="row">
					<div class="col-md-6">	
						<h2 class="color-white">Unique and truly<br>responsive!</h2>
						<div class="subtext mt-4">Design must reflect the practical and aesthetic in business but above all... good design must primarily serve people.</div>
						<a href="#scroll-top" class="btn btn-primary btn-simple btn-round btn-long mt-5 scroll" >discover more</a>
					</div>
				</div>	
			</div>
		</div>
	</div>