<!-- Services 2 Block
	================================================== -->
	
	<div class="section padding-top-bottom background-white over-hide">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-8">	
					<div class="main-title text-center">
						<div class="main-subtitle-top mb-4">welcome to funky</div>
						<h3>Your brand is how your customers see your business.</h3>
						<div class="main-subtitle-bottom mt-3">Design must reflect the practical and aesthetic in business but above all... good design must primarily serve people. </div>	
					</div>
				</div>
				<div class="clear"></div>
				<div class="col-md-4">	
					<div class="services-box-2 text-center" data-scroll-reveal="enter bottom move 40px over 0.8s after 0.2s">
						<i class="funky-ui-icon icon-Compass-2"></i>
						<h6 class="mt-4">Design Process</h6>	
						<p class="mt-3">Design must reflect the practical and aesthetic in business but above all... good design must primarily serve people.</p>	
					</div>
				</div>
				<div class="col-md-4 mt-4 mt-md-0">	
					<div class="services-box-2 text-center" data-scroll-reveal="enter bottom move 40px over 0.8s after 0.2s">
						<i class="funky-ui-icon icon-Check-2"></i>
						<h6 class="mt-4">Digital Assets</h6>	
						<p class="mt-3">Design must reflect the practical and aesthetic in business but above all... good design must primarily serve people.</p>	
					</div>
				</div>
				<div class="col-md-4 mt-4 mt-md-0">	
					<div class="services-box-2 text-center" data-scroll-reveal="enter bottom move 40px over 0.8s after 0.2s">
						<i class="funky-ui-icon icon-Board"></i>
						<h6 class="mt-4">Market Behaviors</h6>	
						<p class="mt-3">Design must reflect the practical and aesthetic in business but above all... good design must primarily serve people.</p>	
					</div>
				</div>
			</div>	
		</div>		
	</div>