<!-- Call To Action Block
	================================================== -->
	
	<div class="section padding-top-bottom-small background-white over-hide">
		<div class="container">
			<div class="row">
				<div class="col-md-12">	
					<div class="call-box-1 text-center" data-scroll-reveal="enter bottom move 40px over 0.8s after 0.2s">
						<h5 class="mb-4">Enjoy your web-site, filled with the things you care about.</h5>
						<p>our presentation, 0:48 min</p>
						<button data-toggle="modal" data-target="#Modal-video" type="button" class="video-button mx-auto mt-4"><i class="fa fa-play"></i></button>
					</div>		
				</div>
			</div>	
		</div>		
	</div>