<!-- Testimonials Block With Parallax Background Image
	================================================== -->	
	
	<div class="section padding-top-bottom over-hide">
		<div class="parallax-1" style="background-image: url('img/parallax-1.jpg')"></div>
		<div class="grey-fade-over"></div>
		<div class="container z-bigger">
			<div class="row">
				<div class="customNavigation">
					<a class="prev-testimonials"><i class="fa fa-angle-left"></i></a>
					<a class="next-testimonials"><i class="fa fa-angle-right"></i></a>
				</div>
				<div id="owl-testimonials" class="owl-carousel owl-theme">											 
					<div class="item">								 
						<div class="testimonials-box-1 background-on-dark dark">
							<img  src="img/t1.jpg" alt="" />
							<p class="mt-4 mb-5">Design must reflect the practical and aesthetic in business but above all... good design must primarily serve people.</p>
							<h6>Anna Furius</h6>
							<p><span>Alliance Motosport</span></p>
						</div>	
					</div>											
					<div class="item">						 
						<div class="testimonials-box-1 background-on-dark dark">
							<img  src="img/t2.jpg" alt="" />
							<p class="mt-4 mb-5">Design must reflect the practical and aesthetic in business but above all... good design must primarily serve people.</p>
							<h6>Alex Andrews</h6>
							<p><span>Creativity Media</span></p>
						</div>	
					</div>											
					<div class="item"> 						 
						<div class="testimonials-box-1 background-on-dark dark">
							<img  src="img/t3.jpg" alt="" />
							<p class="mt-4 mb-5">Design must reflect the practical and aesthetic in business but above all... good design must primarily serve people.</p>
							<h6>Frank Furius</h6>
							<p><span>Alliance Motosport</span></p>
						</div>	
					</div>												
					<div class="item"> 						 
						<div class="testimonials-box-1 background-on-dark dark">
							<img  src="img/t4.jpg" alt="" />
							<p class="mt-4 mb-5">Design must reflect the practical and aesthetic in business but above all... good design must primarily serve people.</p>
							<h6>Marco Kulis</h6>
							<p><span>Guide Magazin</span></p>
						</div>	
					</div>						
				</div>
			</div>	
		</div>	
	</div>