	<!-- Half Blocks Grid
	================================================== -->
	
	<div class="section background-grey over-hide">
		<div class="container-fluid m-0 p-0 background-grey">
			<div class="row">		
				
				<div class="col-lg-6 row-in padding-top-bottom">	
					<div class="section align-self-center text-left padding-on-grid-12">
						<div class="main-title no-subtitle">
							<div class="main-subtitle-top mb-4">Activités aux abords</div>
							<h3 class="mb-0">Besoin d'une occupation</h3>	
						</div>
						<p class="lead mb-5">Nous avons rassemblés dans cette rubrique toutes les activités se trouvant aux abord de notre gîte.</p>
						<a href="/page_activites" class="btn btn-primary btn-simple btn-round btn-long scroll">Découvrir</a>
					</div>
				</div>
                            <div class="col-lg-6 row-in background-image-cover padding-top-bottom" style="background-image: url('https://media-cdn.tripadvisor.com/media/photo-s/07/79/ea/fb/bovec-rafting-team.jpg')">
					<div class="grey-fade-over"></div>	
				</div>
			</div>	
		</div>	
	</div>