    <div class="section padding-top background-dark-2 over-hide footer-1 dark z-bigger-2">
        <div class="container">
            <div class="row">
                <!-- ====== Block 1 Footer ======= -->
                <div class="col-md-6 mt-4 mt-md-0 logo-footer-100">
                    <h2 class="mb-5 color-white">Contact</h2>
                    <div class="separator-wrap">	
                        <span class="separator"><span class="separator-line dashed"></span></span>
                    </div>
                    <ul class="list-style mt-3 mb-3">
                        <li><i class="fa fa-envelope-o"></i><a href="#">Gite le Mas du Cigalon </br>
                                409, Chemin des Chinaies</br>
                                84800 Saumane-de-Vaucluse</a></li>

                        <li><i class="fa fa-phone"></i><a href="#">+33 (0)4 90 389 470 </a></li>
                        <li><i class="fa fa-phone"></i><a href="#">+33 (0)6 85 830 697 </a></li>

                    </ul>
                    <div class="separator-wrap">	
                        <span class="separator"><span class="separator-line dashed"></span></span>
                    </div>
                </div>
                <!-- ====== Block 2 Footer ======= -->

                <!-- ====== Block 3 Footer ======= -->
                <div class="col-md-6 mt-4 mt-md-0">
                    <div class="row justify-content-center">
                        <div class="col-md-6">	
                            <div class="subscribe-box-1">
                                <input type="text" value="" placeholder="Votre Nom *" class="form-control" />
                            </div>		
                        </div>
                        <div class="col-md-6 mt-4 mt-md-0">	
                            <div class="subscribe-box-1">
                                <input type="text" value="" placeholder="Votre Prénom" class="form-control" />
                            </div>		
                        </div>
                        <div class="clear"></div>
                        <div class="col-md-6 mt-4">	
                            <div class="subscribe-box-1">
                                <input type="text" value="" placeholder="Votre Téléphone" class="form-control" />
                            </div>		
                        </div>
                        <div class="col-md-6 mt-4">	
                            <div class="subscribe-box-1">
                                <input type="text" value="" placeholder="Votre Email *" class="form-control" />
                            </div>		
                        </div>
                        <div class="clear"></div>
                        <div class="col-md-12 mt-4">	
                            <div class="subscribe-box-1">
                                <textarea name="message"  placeholder="Votre Message *" class="for-textarea form-control" ></textarea>
                            </div>		
                        </div>
                        <div class="clear"></div>
                        <div class="col-md-12 text-center pt-5">	
                            <div class="checkbox primary line-icon on-light">
                                <input id="checkboxForm" type="checkbox">
                                <label for="checkboxForm">
                                    Je ne suis pas un robot
                                </label>
                            </div>
                        </div>
                        <div class="col-md-12 mt-5 text-center">
                            <button class="btn btn-primary btn-round btn-long" type="button">Envoyer</button>		
                        </div>
                    </div>
                </div>
                <!-- ====== Block 4 Footer ======= -->

            </div>
        </div>	
        <div class="container scd-foot padding-top-small padding-bottom-smaller">
            <div class="row">
                <div class="col-md-6">
                    <p>© 2018 Agence Bulle2com prowered  <i class="fa fa-heart"></i> by <a href="https://agence-bulle2com.fr" target="_blank">Agence Bulle2com</a>!</p>
                </div>
                <div class="col-md-6">
                    <ul class="footer-social">
                        <li class="twitter">
                            <a href="#">Tw</a>
                        </li>
                        <li class="facebook">
                            <a href="#">Fb</a>
                        </li>
                        <li class="google">
                            <a href="#">G+</a>
                        </li>
                        <li class="vimeo">
                            <a href="#">Vm</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>	
    </div>