	<!-- Half Blocks Grid
	================================================== -->
	
	<div class="section background-grey over-hide">
		<div class="container-fluid m-0 p-0 background-grey">
			<div class="row">		
				<div class="col-lg-6 row-in background-image-cover padding-top-bottom" style="background-image: url('https://www.holiday-homes-online.com/typo3temp/pics/c6d4547228.jpg')">
					<div class="grey-fade-over"></div>	
				</div>
				<div class="col-lg-6 row-in padding-top-bottom">	
					<div class="section align-self-center text-left padding-on-grid-12">
						<div class="main-title no-subtitle">
							<div class="main-subtitle-top mb-4">Nos Gites</div>
							<h3 class="mb-0">Envie d'une évasion vauclusienne.</h3>	
						</div>
						<p class="lead mb-8">Alors nos Gites sont fait pour vous. </p>
						<a href="/page_gite" class="btn btn-primary btn-simple btn-round btn-long scroll">Découvrir</a>
					</div>
				</div>	
			</div>	
		</div>	
	</div>
        