<div class="section padding-top-bottom">

    <div class="parallax" style="background-image: url('https://i0.bookcdn.com/data/Photos/Big/2477/247746/247746645/Gite-Mas-Du-Cigalon-photos-Exterior-Hotel-information.JPEG')"></div>
    <div class="grey-fade-over"></div>
    <div class="container z-bigger">
        <div class="row">
            <div class="col-md-5">
                <div class="section p-5 background-dark rounded-2">
                    <div class="main-subtitle-top mb-4 ">Notre Histoire</div>
                    <h4 class="mb-4 color-white text-center ">Notre Mas</h4>
                    <p class="color-white mb-0 text-center">Trois gîtes dans un authentique mas provençal de 200 ans récemment rénové, au cœur d'un parc avec piscine, arboré et fleuri, vous apporteront fraîcheur, calme et confort pendant votre séjour.</br></br>
                        Vous pourrez visiter les villages typiques du Luberon, la magie de Fontaine-de-Vaucluse, la brocante de L'Isle-sur-la-Sorgue, les carrières d'ocre à Roussillon et le domaine de </br> Beaume-de-Venise.</p>
                </div>
            </div>
        </div>	
    </div>		
</div>