<!-- Acordion & Image Block
	================================================== -->
		
	<div class="section padding-top-bottom background-white over-hide">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<img class="img-fluid rounded-2 img-raised" src="theme/jm1/img/ed-6.jpg" alt="">
				</div>
				<div class="col-lg-6 mt-4 mt-lg-0 mt-xl-5">
					<div id="accordion-1" class="accordion-style dark" role="tablist" aria-multiselectable="true">
						<div class="card">
							<div class="card-header" role="tab" id="headingOne-1">
								<a data-toggle="collapse" data-parent="#accordion-1" href="#collapseOne-1" aria-expanded="true" aria-controls="collapseOne">
									Business School Collection
								</a>
							</div>

							<div id="collapseOne-1" class="collapse show" role="tabpanel" aria-labelledby="headingOne-1">
								<div class="card-block">
									<p>Space and light and order. Those are the things that men need just as much as they need bread or a place to sleep.</p>
									Design must reflect the practical and aesthetic in business but above all... good design must primarily serve people.
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" role="tab" id="headingTwo-2">
								<a data-toggle="collapse" data-parent="#accordion-1" href="#collapseTwo-2" aria-expanded="false" aria-controls="collapseTwo">
									Your Career Development
								</a>
							</div>
							<div id="collapseTwo-2" class="collapse" role="tabpanel" aria-labelledby="headingTwo-2">
								<div class="card-block">
									<p>Space and light and order. Those are the things that men need just as much as they need bread or a place to sleep.</p>
									Design must reflect the practical and aesthetic in business but above all... good design must primarily serve people.
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" role="tab" id="headingThree-3">
								<a data-toggle="collapse" data-parent="#accordion-1" href="#collapseThree-3" aria-expanded="false" aria-controls="collapseThree">
									Leading with Finance
								</a>
							</div>
							<div id="collapseThree-3" class="collapse" role="tabpanel" aria-labelledby="headingThree-3">
								<div class="card-block">
									<p>Space and light and order. Those are the things that men need just as much as they need bread or a place to sleep.</p>
									Design must reflect the practical and aesthetic in business but above all... good design must primarily serve people.
								</div>
							</div>
						</div>
					</div>				
				</div>
			</div>
		</div>		
	</div>