 <!-- Counter Block
	================================================== -->
	
	<div class="section padding-top-bottom-small background-dark over-hide z-bigger-2" id="scroll-top">
		<div class="container">
			<div class="row">
				<div class="col-md-3">	
					<div class="counter-wrap dark">
						<p><span class="counter-numb small-2">8.819</span></p>
						<h6>lines of code</h6>
					</div>		
				</div>
				<div class="col-md-3 mt-4 mt-md-0">	
					<div class="counter-wrap dark">
						<p><span class="counter-numb small-2">4.768</span></p>
						<h6>projects finished</h6>
					</div>		
				</div>
				<div class="col-md-3 mt-4 mt-md-0">	
					<div class="counter-wrap dark">
						<p><span class="counter-numb small-2">7.307</span></p>
						<h6>coups of coffee</h6>
					</div>		
				</div>
				<div class="col-md-3 mt-4 mt-md-0">	
					<div class="counter-wrap dark">
						<p><span class="counter-numb small-2">5.921</span></p>
						<h6>working hours</h6>
					</div>		
				</div>
			</div>	
		</div>		
	</div>