<!-- Content With Images Block
	================================================== -->
	
	<div class="section padding-top-bottom background-dark">
		<div class="container">
			<div class="row">
				<div class="col-lg-5 col-md-12">
					<img src="theme/jm1/img/content-1.jpg" alt="" class="img-fluid rounded img-raised">	
				</div>
				<div class="col-lg-1 col-md-12"></div>
				<div class="col-lg-6 col-md-12 mt-5 mt-lg-0 mt-xl-5">	
					<div class="main-title on-dark no-subtitle">
						<div class="main-subtitle-top mb-4">start your business</div>
						<h4 class="mb-0">We build brands!</h4>	
					</div>
					<p class="lead color-white mb-5">Some people think design means how it looks. But of course, if you dig deeper, it's really how it works. Design must reflect the practical and aesthetic in business but above all... good design must primarily serve people. Some people think design means how it looks.</p>
					<a href="contact-map.html" class="btn btn-primary btn-simple btn-round btn-long">get in touch</a>
				</div>
			</div>	
		</div>	
	</div>