	<!-- Half Blocks Grid
	================================================== -->
	
	<div class="section background-grey over-hide">
		<div class="container-fluid m-0 p-0 background-grey">
			<div class="row">		
				<div class="col-lg-4 row-in background-image-cover padding-top-bottom" style="background-image: url('theme/jm1/img/parallax-6.jpg')">
					<div class="grey-fade-over"></div>	
				</div>
				<div class="col-lg-8 row-in padding-top-bottom">	
					<div class="section align-self-center text-left padding-on-grid-12">
						<div class="main-title no-subtitle">
							<div class="main-subtitle-top mb-4">unique and truly responsive</div>
							<h3 class="mb-0">Moving boundaries into digital solution!</h3>	
						</div>
						<p class="lead mb-5">Some people think design means how it looks. But of course, if you dig deeper, it's really how it works. Design must reflect the practical and aesthetic in business but above all... good design must primarily serve people. Some people think design means how it looks.</p>
						<a href="#pricing" class="btn btn-primary btn-simple btn-round btn-long scroll">our pricing</a>
					</div>
				</div>	
			</div>	
		</div>	
	</div>