<!-- Hire & Skills Block
	================================================== -->
	
	<div class="section padding-top-bottom background-white">
		<div class="container">
			<div class="row">
				<div class="col-lg-5">
					<div class="call-box-3 p-5 dark text-center background-dark rounded-2 drop-shadow">
						<i class="funky-ui-icon icon-Add-UserStar"></i>
						<h5 class="mt-4 mb-3 color-white">Ready to work with me?</h5>
						<p class="mb-5">Some people think design means how it looks. But of course, if you dig deeper, it's really how it works.</p>
						<a href="contact-simple.html" class="btn btn-primary btn-simple btn-round btn-long" >hire me</a>
					</div>		
				</div>
				<div class="col-lg-7 mt-5 mt-xl-4" id="progress">
					<div class="progress-container">
						<span class="progress-badge">development</span>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="87" aria-valuemin="0" aria-valuemax="100" style="width: 87%;">
								<span class="progress-value"><span class="counter">87</span>%</span>
							</div>
						</div>
					</div>		
					<div class="progress-container mt-4">
						<span class="progress-badge">happiness</span>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
								<span class="progress-value"><span class="counter">100</span>%</span>
							</div>
						</div>
					</div>	
					<div class="progress-container mt-4">
						<span class="progress-badge">design</span>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="93" aria-valuemin="0" aria-valuemax="100" style="width: 93%;">
								<span class="progress-value"><span class="counter">93</span>%</span>
							</div>
						</div>
					</div>	
					<div class="progress-container mt-4">
						<span class="progress-badge">marketing</span>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100" style="width: 78%;">
								<span class="progress-value"><span class="counter">78</span>%</span>
							</div>
						</div>
					</div>	
					<div class="progress-container mt-4">
						<span class="progress-badge">creativity</span>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100" style="width: 99%;">
								<span class="progress-value"><span class="counter">99</span>%</span> 
							</div>
						</div>
					</div>			
				</div>
			</div>	
		</div>		
	</div>