 <!-- Icons Block
	================================================== -->
	
	<div class="section padding-top-bottom-small background-dark over-hide">
		<div class="container">	
			<div class="row">
				<div class="col-md-4 col-lg-2">	
					<div class="services-box-2 dark text-center">
						<i class="funky-ui-icon icon-Monitor-phone"></i>
						<p class="mt-3">Responsive</p>
					</div>
				</div>
				<div class="col-md-4 col-lg-2 mt-4 mt-md-0">	
					<div class="services-box-2 dark text-center">
						<i class="funky-ui-icon icon-Approved-Window"></i>
						<p class="mt-3">Perfect Design</p>
					</div>
				</div>
				<div class="col-md-4 col-lg-2 mt-4 mt-md-0">	
					<div class="services-box-2 dark text-center">
						<i class="funky-ui-icon icon-Duplicate-Window"></i>
						<p class="mt-3">Bootstrap 4</p>
					</div>
				</div>
				<div class="col-md-4 col-lg-2 mt-4 mt-lg-0">	
					<div class="services-box-2 dark text-center">
						<i class="funky-ui-icon icon-Downward"></i>
						<p class="mt-3">Free Updates</p>
					</div>
				</div>
				<div class="col-md-4 col-lg-2 mt-4 mt-lg-0">	
					<div class="services-box-2 dark text-center">
						<i class="funky-ui-icon icon-Layer-Forward"></i>
						<p class="mt-3">Modal Style</p>
					</div>
				</div>
				<div class="col-md-4 col-lg-2 mt-4 mt-lg-0">	
					<div class="services-box-2 dark text-center">
						<i class="funky-ui-icon icon-Support"></i>
						<p class="mt-3">Support</p>
					</div>
				</div>
			</div>
		</div>		
	</div>