<!-- Image & Pricing Block
	================================================== -->
		
	<div class="section padding-top-bottom background-dark-2 over-hide">
		<div class="container">
			<div class="row">
				<div class="col-lg-7 mt-0 mt-lg-5 mt-xl-4">	
					<img src="theme/jm1/img/content-2.jpg" alt="" class="img-fluid rounded img-raised">	
				</div>
				<div class="col-lg-1">	
				</div>
				<div class="col-lg-4 mt-5 mt-lg-0">
					<div class="pricing dark text-center p-xl-5">
						<h5 class="color-white">One Price</h5>
						<div class="pricing-price mt-3"><sup>$</sup>16</div>
						<div class="pricing-per mt-2">no extra charge</div>
						<div class="pricing-line mt-4"></div>		
						<ul class="list-style mt-4">
							<li>Exclusive design</li>
							<li>Hosting & domain</li>
							<li>Photo gallery</li>
						</ul>
						<button class="btn btn-primary mt-4" type="button">Download Now</button>	
					</div>	
				</div>
			</div>	
		</div>		
	</div>