  <!-- Video & Text Parallax Block
	================================================== -->
	
	<div class="section padding-top-bottom z-bigger-2">	
		<div class="parallax-2" style="background-image: url('theme/jm1/img/parallax-10.jpg')"></div>
		<div class="grey-fade-over"></div>
		<div class="container z-bigger">
			<div class="row">
				<div class="col-lg-8 mt-lg-5 mt-xl-0">	
					<div class="video-section">
						<figure class="vimeo rounded-2 img-raised over-hide"> 
							<a href="https://player.vimeo.com/video/219627581">
								<img src="theme/jm1/img/video-4.jpg" alt="image"  class="rounded-2 over-hide"/>
							</a>
						</figure>
					</div>
				</div>
				<div class="col-lg-4 mt-4 mt-lg-0 mt-xl-4" data-scroll-reveal="enter bottom move 40px over 0.8s after 0.2s">
					<div class="call-box-5 dark">							
						<h4 class="color-white">Unique and truly responsive!</h4>	
						<p class="mt-3 mb-5">Design must reflect the practical and aesthetic in business but above all... good design must primarily serve people. Build beautiful websites in mere minutes.</p>	
						<a href="#" class="btn-link btn-primary">read more</a>	
					</div>
				</div>
			</div>
		</div>
	</div>