<!-- Logos Block
	================================================== -->
		
	<div class="section padding-bottom background-white over-hide">
		<div class="container">
			<div class="row">
				<div class="col-md-2">
					<a href="#">
						<img  src="theme/jm1/img/logos/d1.png" class="img-120 mx-auto" alt="" />
					</a>
				</div>
				<div class="col-md-2 mt-4 mt-md-0">
					<a href="#">
						<img  src="theme/jm1/img/logos/d2.png" class="img-120 mx-auto" alt="" />
					</a>
				</div>
				<div class="col-md-2 mt-4 mt-md-0">
					<a href="#">
						<img  src="theme/jm1/img/logos/d5.png" class="img-120 mx-auto" alt="" />
					</a>
				</div>
				<div class="col-md-2 mt-4 mt-md-0">
					<a href="#">
						<img  src="theme/jm1/img/logos/d6.png" class="img-120 mx-auto" alt="" />
					</a>
				</div>
				<div class="col-md-2 mt-4 mt-md-0">
					<a href="#">
						<img  src="theme/jm1/img/logos/d7.png" class="img-120 mx-auto" alt="" />
					</a>
				</div>
				<div class="col-md-2 mt-4 mt-md-0">
					<a href="#">
						<img  src="theme/jm1/img/logos/d11.png" class="img-120 mx-auto" alt="" />
					</a>
				</div>
			</div>
		</div>		
	</div>