<!-- Portfolio Block
	================================================== -->
	
	<div class="section padding-top-bottom background-white">
		<div class="big-fade-title on-light text-center">our work</div>
		<div class="container z-bigger">
			<div class="row justify-content-center">
				<div class="col-md-8">	
					<div class="main-title text-center">
						<div class="main-subtitle-top mb-4">our work</div>
						<h3>We Take Pride In Delivering Only The Best.</h3>
						<div class="main-subtitle-bottom mt-3">we do magic</div>	
					</div>
				</div>
				<div class="clear"></div>
				<div class="col-md-12">
					<div class="grid-filter">
						<ul class="filter">
							<li><a href="#" class="current" data-filter="*" title="">all</a></li>
							<li><a href="#" data-filter=".branding" title="">branding</a></li>
							<li><a href="#" data-filter=".photo" title="">photo</a></li>
							<li><a href="#" data-filter=".motion" title="">motion</a></li>
						</ul>
					</div>
				</div>
				<div class="grid-wraper clearfix">			
					<div class="grid-box float-inline half with-margin branding">
						<a href="project-image.html">
							<div class="portfolio-box-1 rounded">	
								<img  src="theme/jm1/img/portfolio/grid/1.jpg" alt="" />	
								<div class="portfolio-mask-3 rounded"></div>
								<h5 class="on-center text-center">primarily serve people</h5>
								<p class="on-center text-center">design, motion</p>
							</div>	
						</a>
					</div>	
					<div class="grid-box float-inline half with-margin photo motion">
						<a href="project-image.html">
							<div class="portfolio-box-1 rounded">		
								<img  src="theme/jm1/img/portfolio/grid/2.jpg" alt="" />
								<div class="portfolio-mask-3 rounded"></div>
								<h5 class="on-center text-center">primarily serve people</h5>
								<p class="on-center text-center">design, motion</p>
							</div>	
						</a>	
					</div>	
					<div class="grid-box float-inline half with-margin branding">
						<a href="project-image.html">
							<div class="portfolio-box-1 rounded">	
								<img  src="theme/jm1/img/portfolio/grid/8.jpg" alt="" />	
								<div class="portfolio-mask-3 rounded"></div>
								<h5 class="on-center text-center">primarily serve people</h5>
								<p class="on-center text-center">design, motion</p>
							</div>	
						</a>	
					</div>	
					<div class="grid-box float-inline half with-margin photo motion">
						<a href="project-image.html">
							<div class="portfolio-box-1 rounded">	
								<img  src="theme/jm1/img/portfolio/grid/4.jpg" alt="" />	
								<div class="portfolio-mask-3 rounded"></div>
								<h5 class="on-center text-center">primarily serve people</h5>
								<p class="on-center text-center">design, motion</p>
							</div>	
						</a>	
					</div>	
				</div>
			</div>	
		</div>		
	</div>