<!-- Pricing Block
	================================================== -->
		
	<div class="section padding-top-bottom background-grey over-hide" id="pricing">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-8">	
					<div class="main-title text-center">
						<div class="main-subtitle-top mb-4">our pricing</div>
						<h3>From whiteboard sketches to pixel-perfect designs.</h3>
						<div class="main-subtitle-bottom mt-3">our numbers</div>	
					</div>
				</div>
				<div class="clear"></div>
				<div class="col-lg-4" data-scroll-reveal="enter bottom move 40px over 0.8s after 0.2s">
					<div class="pricing p-xl-5 background-white text-center">
						<h5>Starter</h5>
						<div class="pricing-sub mb-4">billed annually or $12 month-to-month</div>
						<div class="pricing-price mt-3"><sup>$</sup>10</div>
						<div class="pricing-per mt-2">per month</div>
						<div class="pricing-line mt-4"></div>		
						<ul class="list-style mt-4">
							<li><i class="fa fa-check"></i>Up to 7 pages</li>
							<li><i class="fa fa-times grey"></i>Ecommerce</li>
						</ul>
						<button class="btn btn-primary mt-4" type="button">Order Now</button>	
					</div>
				</div>	
				<div class="col-lg-4 mt-4 mt-lg-0" data-scroll-reveal="enter bottom move 40px over 0.8s after 0.2s">
					<div class="pricing popular p-xl-5 background-white text-center">
						<div class="ribbon"><i class="funky-ui-icon icon-Ribbon-2"></i></div>
						<h5>Personal</h5>
						<div class="pricing-sub mb-4">billed annually or $20 month-to-month</div>
						<div class="pricing-price mt-3"><sup>$</sup>16</div>
						<div class="pricing-per mt-2">per month</div>
						<div class="pricing-line mt-4"></div>		
						<ul class="list-style mt-4">
							<li><i class="fa fa-check"></i>Up to 20 pages</li>
							<li><i class="fa fa-times grey"></i>Ecommerce</li>
						</ul>
						<button class="btn btn-primary mt-4" type="button">Order Now</button>	
					</div>
				</div>	
				<div class="col-lg-4 mt-4 mt-lg-0" data-scroll-reveal="enter bottom move 40px over 0.8s after 0.2s">
					<div class="pricing p-xl-5 background-white text-center">
						<h5>Ultimate</h5>
						<div class="pricing-sub mb-4">billed annually or $29 month-to-month</div>
						<div class="pricing-price mt-3"><sup>$</sup>24</div>
						<div class="pricing-per mt-2">per month</div>
						<div class="pricing-line mt-4"></div>		
						<ul class="list-style mt-4">
							<li><i class="fa fa-check"></i>Infinite pages</li>
							<li><i class="fa fa-check"></i>Ecommerce</li>
						</ul>
						<button class="btn btn-primary mt-4" type="button">Order Now</button>	
					</div>
				</div>
			</div>	
		</div>		
	</div>