        <!--  ==============================================================================================  -->
        <!-- Team Block
	================================================== -->
	
	<div class="section padding-top-bottom background-grey">
		<div class="big-fade-title on-light text-center">our team</div>
		<div class="container z-bigger">
			<div class="row justify-content-center">
				<div class="col-md-8">	
					<div class="main-title text-center">
						<div class="main-subtitle-top mb-4">our team</div>
						<h3>Team Of Creatives.</h3>
						<div class="main-subtitle-bottom mt-3">only the best</div>	
					</div>
				</div>
				<div class="clear"></div>
				<div class="team-slider-wrap" data-scroll-reveal="enter bottom move 40px over 0.8s after 0.2s">
					<div id="owl-team-1" class="owl-carousel owl-theme">											 
						<div class="item">											 
							<div class="team-box-1 all-padding background-white drop-shadow text-center">	 
								<img src="theme/jm1/img/t4.jpg" alt="" />
								<h6 class="mt-4 mb-1">Marco Kulis</h6>	
								<p class="mb-4">app & media</p>
								<ul class="team-social">
									<li class="twitter">
										<a href="#">Tw</a>
									</li>
									<li class="google">
										<a href="#">G+</a>
									</li>
								</ul>	
							</div>	
						</div>											 
						<div class="item">											 
							<div class="team-box-1 all-padding background-white drop-shadow text-center">	
								<img  src="theme/jm1/img/t1.jpg" alt="" />
								<h6 class="mt-4 mb-1">Anna Furius</h6>		
								<p class="mb-4">identity building</p>
								<ul class="team-social">
									<li class="facebook">
										<a href="#">Fb</a>
									</li>
									<li class="google">
										<a href="#">G+</a>
									</li>
									<li class="vimeo">
										<a href="#">Vm</a>
									</li>
								</ul>		
							</div>	
						</div>											 
						<div class="item">											 
							<div class="team-box-1 all-padding background-white drop-shadow text-center">	
								<img  src="theme/jm1/img/t2.jpg" alt="" />
								<h6 class="mt-4 mb-1">Alex Andrews</h6>	
								<p class="mb-4">design process</p>	
								<ul class="team-social">
									<li class="twitter">
										<a href="#">Tw</a>
									</li>
									<li class="vimeo">
										<a href="#">Vm</a>
									</li>
								</ul>	
							</div>	
						</div>											 
						<div class="item">											 
							<div class="team-box-1 all-padding background-white drop-shadow text-center">
								<img  src="theme/jm1/img/t3.jpg" alt="" />	
								<h6 class="mt-4 mb-1">Frank Furius</h6>		
								<p class="mb-4">web development</p>	
								<ul class="team-social">
									<li class="twitter">
										<a href="#">Tw</a>
									</li>
									<li class="facebook">
										<a href="#">Fb</a>
									</li>
									<li class="google">
										<a href="#">G+</a>
									</li>
								</ul>
							</div>	
						</div>											 
						<div class="item">											 
							<div class="team-box-1 all-padding background-white drop-shadow text-center">	
								<img  src="theme/jm1/img/t4.jpg" alt="" />	
								<h6 class="mt-4 mb-1">Marco Kulis</h6>	
								<p class="mb-4">app & media</p>	
								<ul class="team-social">
									<li class="twitter">
										<a href="#">Tw</a>
									</li>
									<li class="vimeo">
										<a href="#">Vm</a>
									</li>
								</ul>	
							</div>	
						</div>											 
						<div class="item">											 
							<div class="team-box-1 all-padding background-white drop-shadow text-center">	
								<img  src="theme/jm1/img/t1.jpg" alt="" />
								<h6 class="mt-4 mb-1">Anna Furius</h6>	
								<p class="mb-4">identity building</p>
								<ul class="team-social">
									<li class="twitter">
										<a href="#">Tw</a>
									</li>
									<li class="facebook">
										<a href="#">Fb</a>
									</li>
									<li class="google">
										<a href="#">G+</a>
									</li>
									<li class="vimeo">
										<a href="#">Vm</a>
									</li>
								</ul>		
							</div>	
						</div>											 
						<div class="item">											 
							<div class="team-box-1 all-padding background-white drop-shadow text-center">	
								<img  src="theme/jm1/img/t2.jpg" alt="" />
								<h6 class="mt-4 mb-1">Alex Andrews</h6>	
								<p class="mb-4">design process</p>	
								<ul class="team-social">
									<li class="twitter">
										<a href="#">Tw</a>
									</li>
									<li class="facebook">
										<a href="#">Fb</a>
									</li>
									<li class="google">
										<a href="#">G+</a>
									</li>
								</ul>	
							</div>	
						</div>											 
						<div class="item">											 
							<div class="team-box-1 all-padding background-white drop-shadow text-center">	
								<img  src="theme/jm1/img/t3.jpg" alt="" />
								<h6 class="mt-4 mb-1">Frank Furius</h6>		
								<p class="mb-4">web development</p>	
								<ul class="team-social">
									<li class="facebook">
										<a href="#">Fb</a>
									</li>
									<li class="google">
										<a href="#">G+</a>
									</li>
									<li class="vimeo">
										<a href="#">Vm</a>
									</li>
								</ul>
							</div>	
						</div>											 
						<div class="item">											 
							<div class="team-box-1 all-padding background-white drop-shadow text-center">	
								<img  src="theme/jm1/img/t4.jpg" alt="" />
								<h6 class="mt-4 mb-1">Marco Kulis</h6>	
								<p class="mb-4">app & media</p>	
								<ul class="team-social">
									<li class="twitter">
										<a href="#">Tw</a>
									</li>
									<li class="google">
										<a href="#">G+</a>
									</li>
									<li class="vimeo">
										<a href="#">Vm</a>
									</li>
								</ul>			
							</div>	
						</div>					
					</div>
				</div>
			</div>	
		</div>		
	</div>