<!-- Quote Block
	================================================== -->
	
	<div class="section background-white z-bigger-2">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-xl-9 transform-y-120 transform-on-mob">	
					<div class="quote-box-1 dark background-dark padding-quote-box rounded-quote text-center drop-shadow">
						<i class="funky-ui-icon icon-Speach-Bubble12"></i>
						<div class="testimonials-1-slider-wrap mt-4">
							<div class="customNavigation">
								<a class="prev-testimonials-1 ver-2"><i class="fa fa-angle-left"></i></a>
								<a class="next-testimonials-1 ver-2"><i class="fa fa-angle-right"></i></a>
							</div>
							<div id="owl-testimonials-1" class="owl-carousel owl-theme">											 
								<div class="item">										 
									<div class="testimonials-box-2 text-center">
										<h5 class="mb-5 color-white">"Design must reflect the practical and aesthetic in business but above all... good design must primarily serve people."</h5>
										<h4 class="color-white">Thomas J. Watson</h4>
										<p class="mt-2">some magazine</p>		
									</div>	
								</div>											
								<div class="item">									 
									<div class="testimonials-box-2 text-center">
										<h5 class="mb-5 color-white">"Design must reflect the practical and aesthetic in business but above all... good design must primarily serve people."</h5>
										<h4 class="color-white">Thomas J. Watson</h4>
										<p class="mt-2">some magazine</p>			
									</div>
								</div>											
								<div class="item"> 										 
									<div class="testimonials-box-2 text-center">
										<h5 class="mb-5 color-white">"Design must reflect the practical and aesthetic in business but above all... good design must primarily serve people."</h5>
										<h4 class="color-white">Thomas J. Watson</h4>
										<p class="mt-2">some magazine</p>			
									</div>
								</div>												
								<div class="item"> 										 
									<div class="testimonials-box-2 text-center">
										<h5 class="mb-5 color-white">"Design must reflect the practical and aesthetic in business but above all... good design must primarily serve people."</h5>
										<h4 class="color-white">Thomas J. Watson</h4>
										<p class="mt-2">some magazine</p>			
									</div>	
								</div>												
								<div class="item"> 									 
									<div class="testimonials-box-2 text-center">
										<h5 class="mb-5 color-white">"Design must reflect the practical and aesthetic in business but above all... good design must primarily serve people."</h5>
										<h4 class="color-white">Thomas J. Watson</h4>
										<p class="mt-2">some magazine</p>			
									</div>		
								</div>					
							</div>
						</div>
					</div>
				</div>
			</div>	
		</div>		
	</div>