<!-- Testimonials Block
	================================================== -->
		
	<div class="section padding-top-bottom background-white over-hide">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">		
					<div class="main-title">
						<div class="main-subtitle-top mb-4">testimonials</div>
						<h4>Some of our clients saying about us.</h4>
						<div class="main-subtitle-bottom smaller mt-3">Built with passion & intuitiveness in mind. Funky is a masterclass piece of work presented to you.</div>	
					</div>
				</div>
				<div class="col-lg-8 px-0">
					<div id="owl-testimonials" class="owl-carousel owl-theme no-hidden">											 
						<div class="item">								 
							<div class="testimonials-box-1 bigger-img border-on-light">
								<img  src="theme/jm1/img/t1.jpg" alt="" />
								<p class="mt-4 mb-5">Design must reflect the practical and aesthetic in business but above all... good design must primarily serve people.</p>
								<h6>Anna Furius</h6>
								<p><span>Alliance Motosport</span></p>
							</div>	
						</div>											
						<div class="item">						 
							<div class="testimonials-box-1 bigger-img border-on-light">
								<img  src="theme/jm1/img/t2.jpg" alt="" />
								<p class="mt-4 mb-5">Design must reflect the practical and aesthetic in business but above all... good design must primarily serve people.</p>
								<h6>Alex Andrews</h6>
								<p><span>Creativity Media</span></p>
							</div>	
						</div>											
						<div class="item"> 						 
							<div class="testimonials-box-1 bigger-img border-on-light">
								<img  src="theme/jm1/img/t3.jpg" alt="" />
								<p class="mt-4 mb-5">Design must reflect the practical and aesthetic in business but above all... good design must primarily serve people.</p>
								<h6>Frank Furius</h6>
								<p><span>Alliance Motosport</span></p>
							</div>	
						</div>												
						<div class="item"> 						 
							<div class="testimonials-box-1 bigger-img border-on-light">
								<img  src="theme/jm1/img/t4.jpg" alt="" />
								<p class="mt-4 mb-5">Design must reflect the practical and aesthetic in business but above all... good design must primarily serve people.</p>
								<h6>Marco Kulis</h6>
								<p><span>Guide Magazin</span></p>
							</div>	
						</div>						
					</div>
				</div>
			</div>	
		</div>		
	</div>
