<!-- Title Block With Parallax Background Image
	================================================== -->	
	
	<div class="section padding-top-bottom over-hide">
		<div class="parallax-1" style="background-image: url('theme/jm1/img/parallax-hero-4.jpg')"></div>
		<div class="grey-fade-over"></div>
		<div class="container z-bigger">
			<div class="row justify-content-center">
				<div class="col-md-8">	
					<div class="main-title on-dark text-center">
						<div class="main-subtitle-top mb-4">our clients</div>
						<h3>Client Testimonials.</h3>
						<div class="main-subtitle-bottom mt-3">Built with passion & intuitiveness in mind. Funky is a masterclass piece of work presented to you.</div>	
					</div>
				</div>
			</div>	
		</div>	
	</div>